@import url('../../bootstrap/css/bootstrap.min.css');
@import url('../../bootstrap/css/bootstrap-tagsinput.css');
@import url('../../bootstrap/css/bootstrap-datetimepicker.min.css');
@import url('ripples.min.css');
@import url('bootstrap-material-design.min.css');

/* Board Menu*/

.menu {
    padding: 0;
    height: 100%;
    text-align: center;
    border-right: 1px solid rgba(221, 221, 221, 0.59);
}

.menu, .menu * {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.menu ul {
    padding: 0;
    height: 100%;
    margin:0;
}

.menu ul li {
    list-style: none;
    padding: 10px 0px 10px 0px;
    font-size: 15px;
    font-weight: normal;
    cursor: pointer;
}

.menu ul li.active {
    background-color: #dedede;
    position: relative;
}

.menu ul li a {
    color: rgb(51, 51, 51);
    text-decoration: none;
}

/*Padding */
.p0 {
  padding: 0 !important;
}
.pl0 {
  padding-left: 0 !important;
}
.pr0 {
  padding-right: 0 !important;
}
.pt0 {
  padding-top: 0 !important;
}
.pb0 {
  padding-bottom: 0 !important;
}
.pv0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.ph0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.p {
  padding: 10px !important;
}
.pl {
  padding-left: 10px !important;
}
.pr {
  padding-right: 10px !important;
}
.pt {
  padding-top: 10px !important;
}
.pb {
  padding-bottom: 10px !important;
}
.p-sm {
  padding: 5px !important;
}
.pl-sm {
  padding-left: 5px !important;
}
.pr-sm {
  padding-right: 5px !important;
}
.pt-sm {
  padding-top: 5px !important;
}
.pb-sm {
  padding-bottom: 5px !important;
}
.p-lg {
  padding: 15px !important;
}
.pl-lg {
  padding-left: 15px !important;
}
.pr-lg {
  padding-right: 15px !important;
}
.pt-lg {
  padding-top: 15px !important;
}
.pb-lg {
  padding-bottom: 15px !important;
}
.p-xl {
  padding: 30px !important;
}
.pl-xl {
  padding-left: 30px !important;
}
.pr-xl {
  padding-right: 30px !important;
}
.pt-xl {
  padding-top: 30px !important;
}
.pb-xl {
  padding-bottom: 30px !important;
}
.pv {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.ph {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pv-xl {
  padding-top: 30px !important;
  padding-bottom: 30px !important;
}
.ph-xl {
  padding-left: 30px !important;
  padding-right: 30px !important;
}
.pv-lg {
  padding-top: 15px !important;
  padding-bottom: 15px !important;
}
.ph-lg {
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.pv-sm {
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.ph-sm {
  padding-left: 5px !important;
  padding-right: 5px !important;
}

/*Margins*/
.m0 {
  margin: 0 !important;
}
.ml0 {
  margin-left: 0 !important;
}
.mr0 {
  margin-right: 0 !important;
}
.mt0 {
  margin-top: 0 !important;
}
.mb0 {
  margin-bottom: 0 !important;
}
.m {
  margin: 10px !important;
}
.ml {
  margin-left: 10px !important;
}
.mr {
  margin-right: 10px !important;
}
.mt {
  margin-top: 10px !important;
}
.mb {
  margin-bottom: 10px !important;
}
.m-sm {
  margin: 5px !important;
}
.ml-sm {
  margin-left: 5px !important;
}
.mr-sm {
  margin-right: 5px !important;
}
.mt-sm {
  margin-top: 5px !important;
}
.mb-sm {
  margin-bottom: 5px !important;
}
.m-lg {
  margin: 15px !important;
}
.ml-lg {
  margin-left: 15px !important;
}
.mr-lg {
  margin-right: 15px !important;
}
.mt-lg {
  margin-top: 15px !important;
}
.mb-lg {
  margin-bottom: 15px !important;
}
.m-xl {
  margin: 30px !important;
}
.ml-xl {
  margin-left: 30px !important;
}
.mr-xl {
  margin-right: 30px !important;
}
.mt-xl {
  margin-top: 30px !important;
}
.mb-xl {
  margin-bottom: 30px !important;
}
.mv {
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.mh {
  margin-left: 10px !important;
  margin-right: 10px !important;
}
.mv-lg {
  margin-top: 15px !important;
  margin-bottom: 15px !important;
}
.mh-lg {
  margin-left: 15px !important;
  margin-right: 15px !important;
}
.mv-sm {
  margin-top: 5px !important;
  margin-bottom: 5px !important;
}
.mh-sm {
  margin-left: 5px !important;
  margin-right: 5px !important;
}


.videobox{
	margin-bottom: 10px;
	text-align: center;
	overflow: hidden;
}
.chat-box{
  position: fixed;
  right: 0;
  bottom: -20px;
  z-index: 9;
}
.call-btns .btn i{color:  rgba(255,255,255,.84);}
.call-btns{margin: 0px}
.time {
    font-size: 9px;
    margin-top: 2px;
}
.btn-fab:active,.btn-fab:hover,.btn-fab:focus{outline: none}
.btn.active.focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn:active:focus, .btn:focus {outline: none;}
.board{
	padding-left: 0px;
	padding-top: 0px;
  padding-right: 0;
	height: 100%;
}
.form-group{margin-top: 5px;}
.limited {
white-space: nowrap;
overflow: hidden;
width: 150px;
text-overflow: ellipsis;
}
.video-row{padding: 5px;padding-top: 15px;border-top: 1px solid rgba(221, 221, 221, 0.59);}
.navbar{background-color: #FFF;color: #009688;}
.tutor{height:95vh}
.canvas{height:95vh;cursor: url("../../icons/ic_create.svg") 2 20,auto;position: unset !important;padding: 0px;
border-bottom: 1px solid rgba(221, 221, 221, 0.59);}
main.well{position: unset;}
.center-block{float: none}
.img98{height: 98px;width: 98px;border-radius: 50%}
.btn-round{border-radius: 50%;margin: 0px;}
.enrolled-course{padding-bottom: 15px;border-bottom: 4px solid rgba(225, 225, 225, 0.62); }
input[type="text"], input[type="number"], input[type="email"], input[type="search"], input[type="password"], input[type="tel"], textarea {background-color: transparent;}
.form-control-static{background-color: transparent;border: medium none;}
.sc_socials{width: 4em;}
.dl-chat dt {
    float: left;
    width: 32px;
    overflow: hidden;
    clear: left;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.dl-chat dd {
    margin-left: 36px;
    padding: 8px;
    background-color: #E8F5E9;
    border: 1px solid #DFEBE0;
}
.dl-chat dd.message:before{
  content: " ";
  border: 10px solid;
  border-color: #e8f5e9 transparent transparent transparent;
  position: absolute;
  left: -10px;
  top: -1px;
}
.dl-chat dt.user-pic{
  float: right;
}
.dl-chat dd.user-message{
   margin-right: 36px;
   margin-left: auto;
   background-color: rgba(255, 178, 14, 0.23);
 }
 dt,dd{
  position: relative;
 }
 .dl-chat dd.user-message:after{
  content: " ";
  border: 10px solid;
  border-color: #ffedc7 transparent transparent transparent;
  position: absolute;
  right: -11px;
  top: -1px;
}
.dl-chat{
  height: 320px;
  overflow: auto;
  padding: 0px 5px;
  margin-bottom: 2px;
}
.closed .panel{
  display: none;
}
.closed{width:auto;margin-bottom: 40px;}
.chat-box .chat-btn{display: none;}
.closed .chat-btn{display: block;}
.btn-primary .badge {
    color: #FFF;
    background-color: #f44336;
    right: -10px;
}
 .bootstrap-tagsinput,.file-upload,.tag-help-block{display: none;}
 .biography p{white-space: pre-line;text-align: justify;}
 .user-video{position: absolute;right: 15px;top: 5px; z-index: 1;}

 /*Timeline*/
 .timeline:before{
    width: 2px;
    content: " ";
    background-color: #eae1e1;
    height: 100%;
    display: block;
    position: absolute;
    left: 34px;
 }

 .timeline .row-content:before{
   position: absolute;
   top: 16px;
   display: inline-block;
   border-top: 12px solid transparent;
   border-left: 12px solid #eee;
   border-right: 0 solid #eee;
   border-bottom: 10px solid transparent;
   content: " ";
   border-left-width: 0;
   border-right-width: 12px;
   left: 60px;
   right: auto;
 }
.delete-event{cursor: pointer;border-radius: 50%;left: -32px;position: relative;z-index: 1;display: none}
.timeline .list-group-item:hover .delete-event{display: inline-block;}
.timeline .list-group-item-heading{padding:12px;background-color: #EEEEEE;font-size: 16px !important;border-radius: 2px;}
.timeline-form{position: absolute;z-index: 1;display: none;}
.btn-open{
  transform: rotate(45deg); 
  -webkit-transition: 300ms ease all;
  -moz-transition: 300ms ease all;
  -o-transition: 300ms ease all;
  transition: 300ms ease all;
}

.page-header{    width: calc(100% - 130px);margin: 15px auto;}
.menu-list .list-group-item{padding:10px 8px;}
.menu-list{height: 100vh;overflow: auto;width: 300px;}
.menu-list a.list-group-item{color:#009688;font-weight: 400;}
.menu-list a.list-group-item.active{background:rgba(0, 150, 136, 0.18);}
.menu-list a.list-group-item.active:hover{outline:none;background: none;color:#009688;}
/*#menu{top: 18px;left:18px;display: inline-block;width: 58px; }*/
.top-nav{border-left:1px solid;border-color:transparent #E3E3E3;}
.top-nav img,.top-nav .menu-icon{display: inline-block;}
#side-nav{position: fixed;top: 0;left:-300px;z-index: 1;background: #FFF;margin-left: 15px;margin-left: 0px;}
#side-nav:target{
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
}
.close-nav:active #side-nav{
  -webkit-animation: slideBack 0.5s reverse;
  -webkit-animation-delay: 2s;
  animation: slideBack 0.5s reverse;
}
@-webkit-keyframes slide {
  100% { left: 0; }
}

@keyframes slide {
  100% { left: 0; }
  } @-webkit-keyframes slideBack {
    100% { left: -325px; }
  }

  @keyframes slideBack {
    100% { left: -325px; }
  }
.page-contents{min-height: 40vh;}
.symbol {
  display: inline-block;
  border-radius: 50%;
  border: 5px double white;
  width: 30px;
  height: 30px;
}

.symbol-empty {
  background-color: #ccc;
}

.symbol-filled {
  background-color: black;
}

   .well .page-header{border:none;}
  .enrolled-course{border-bottom: 2px solid #f3f3f3;padding:0 15px 15px 15px;margin: 0px;}
  .card-title{margin: 0px;width: calc(100%-50px)}
  .card-heading{padding:30px 15px;}
  .card-heading h2{line-height:40px;}
  .dashboard-list dt,.dashboard-list dd{display:inline-block;width: 48%;vertical-align: top;}
  .dashboard-list dt{font-weight: 400;}
  .dashboard-list{padding-left: 0px;margin-bottom: 0px;}
  .rate{color: #f0c308;font-size: 16px;font-weight: 400;}
  .rated{color: #f0c308;}

/*Student Dashboard*/
.facebook-icon, .facebook-icon:hover,.facebook-icon:active,.facebook-icon:focus
{background-color: #6577c2;color: #FFF !important;padding:8px 10px;text-transform: capitalize;margin: 0px auto;line-height: 1}
.google-icon, .google-icon:hover,.google-icon:active,.google-icon:focus
{background-color: #e15242;color: #FFF !important;padding:8px 3px;text-transform: capitalize;margin: 0px auto;line-height: 1}
.google-icon i,.google-icon i{margin: auto 5px;display: inline-block;position: relative;}
.c-widget{width: 30%;padding:10px 15px;}
.c-widget b,.c-widget span{display: block;}
.c-widget:not(:last-child){border-right: 1px solid #eee;}
.session-date{width: 46px;display: inline-block;text-align: center;border:1px solid #eee;}
.session-name{display: inline-block;width:80%;padding:5px;position: relative;overflow: hidden;text-overflow:ellipsis;}
.session-name h4{white-space: nowrap;text-overflow:ellipsis;overflow: hidden;width: 98%;}
.upcoming-list{margin-bottom: 0}
.upcoming-list h1,.upcoming-list h4{margin: 0px;}
.upcoming-list .list-group-item{padding: 0px;}

/*Tutor list*/
.user-list-data h2{margin-top: 5px;}
/* Doubts */
a.doubt{cursor: pointer;text-decoration: none;color: inherit;outline: 0;max-height: 20vh;overflow: hidden}
a.doubt:hover{color:#009688}
/*Media Queries*/

@media(max-width: 480px){
  .page-contents .col-sm-3.p0{display: none;}
}

.form-control.border {border:1px solid; border-radius: 4px;padding:1px;border-color:#c9c6c6 #c9c6c6 transparent #c9c6c6;}

  @media(min-width: 768px){
    .video-row .embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{top:-25%;}
  } 
  @media(min-width: 1440px){
    .video-row .embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video{top:-20%;}
  }